{% extends '@EasyAdmin/default/layout.html.twig' %}
{#{% form_theme form with easyadmin_config('design.form_theme') %}#}
{% set _content_title = 'Offer' %}{% block page_title -%}
    {{ _content_title }}
{%- endblock %}{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}
{% block main %}

    <script>
        $(document).ready(function () {
            $('.checkbox-js').on('click', function () {
                console.log('atejo');
                console.log($(this).find('.check').val());
                if ($(this).find('.check').val() > 0) {
                    console.log('ATEJO i g');
                    $(this).find('.check').val(0);
                }
                else {

                    console.log('ATEJO i bloga');
                    $(this).find('.check').val(1);


                }

            })
        })
        ///////////////////////////////////////


    </script>
    <style>
        .btn span.glyphicon {
            opacity: 1;
        }

        .btn.active span.glyphicon {
            opacity: 0;
        }

        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid green;
            border-radius: 2px;
        }

        textarea[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid green;
            border-radius: 2px;
        }

        .myButton {
            background-color: green;
            -moz-border-radius: 28px;
            -webkit-border-radius: 28px;
            border-radius: 28px;
            border: 1px solid green;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 19px;
            padding: 3px 9px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #2f6627;
        }

        .myButton:hover {
            background-color: green;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url(../fonts/glyphicons-halflings-regular.eot);
            src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

        -moz-osx-font-smoothing: grayscale
        icn {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        }

        .panel-heading {
            background: green;

        }

        .panel-primary > .panel-heading {

            color: #fff;
            background-color: green;
            border-color: green;

        }

        .panel {
            border-color: green;
        }

        .glyphicon {
            color: green;
        }

        .glyphicon-ok {
            color: white;
        }

        .glyphicon-ok:before {
            content: "\e013";
        }


    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="{{ path('admin_offer_create') }}" method="post">
                    <input name="id" hidden value="{{ id }}"/>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="clientName">Kliento vardas, pavardė</label>
                            <input type="text" class="form-control" placeholder="Petras Petraitis"
                                   name="clientName" {% if type == "show" %} disabled {% endif %} {% if offer.clientName is not null %} value="{{ offer.clientName }}" {% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="clientEmail">El.Paštas</label>
                            <input type="text" class="form-control" placeholder="petras@petras.com"
                                   name="clientEmail" {% if type == "show" %} disabled {% endif %} {% if offer.clientEmail is not null %} value="{{ offer.clientEmail }}" {% endif %}>
                        </div>
                        <div class="form-group ">
                            <label for="clientMessage">Žinutė klientui</label>
                            <textarea type="text" class="form-control" placeholder="Description"
                                      name="message" {% if type == "show" %} disabled {% endif %} {% if offer.message is not null %} value="{{ offer.message }}" {% endif %}></textarea>
                        </div>


                        <div class="row">
                            <h4>Šablonai</h4>
                            {% for template in templateItems %}
                                <div class="col-sm-4">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success {% if template.active is null %} active {% endif %} checkbox-js">
                                            <input type="checkbox"/>
                                            <input type="hidden" class="check"
                                                   value="{% if template.active %}1{% endif %}{% if template.active is null %}0{% endif %}"
                                                   name='active[{{ template.id }}]'/>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                    {{ template.title }} {{ template.price }}

                                    <a href="#{{ template.id }}" data-toggle="modal"
                                       data-target="#{{ template.id }}"><span class="glyphicon glyphicon-expand"></span></a>
                                    <p></p>
                                </div>

                            {% endfor %}


                        </div>
                        <p>
                            {% if type == "edit" %}
                                <button type="submit" class="myButton">Išsaugoti pasiūlymą</button>
                            {% endif %}
                        </p>
                    </form>

                    {% for templated in templateItems %}

                        <div id="{{ templated.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="offer-container">
                                    <div class="panel panel-primary" align="center">
                                        <div class="panel-heading">
                                            <h2>
                                                <i class="fa fa-calculator"></i>{{ templated.title }}</h2>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-8">
                                                <div class="table-responsive">
                                                    <table class="table table-striped plansTable">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                Kiekis
                                                            </th>
                                                            <th>
                                                                Produktas
                                                            </th>
                                                            <th>
                                                                Kaina
                                                            </th>
                                                            <th>
                                                                Peržiūros
                                                            </th>
                                                            <th>
                                                                P/K
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for offerTemplatePosition in templated.positionTemplates %}
                                                            <tr>
                                                                <div class="center">
                                                                    <td><label>{{ offerTemplatePosition.count }}</label>
                                                                    </td>
                                                                    <td>
                                                                        <label>{{ offerTemplatePosition.position.name }}</label>
                                                                    </td>
                                                                    <td>
                                                                        <label>{{ offerTemplatePosition.position.price }}</label>
                                                                    </td>
                                                                    <td>
                                                                        <label>{{ offerTemplatePosition.position.reach }}</label>
                                                                    </td>
                                                                    <td>
                                                                        <label>{{ offerTemplatePosition.position.divide() }}</label>
                                                                    </td>
                                                                </div>
                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="col-md-12" style="text-align: center;">
                                                    <div class="alert alert-danger error-label"
                                                         style="display: none; text-align: center;"
                                                         role="alert">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <table class="table" style="margin-left: -25px;">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            <label class=" font16">
                                                                Rezultatai</label>
                                                        </th>
                                                        <th>
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class=" font16">
                                                                Kaina</label>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-inr font18"></i>
                                                        </td>
                                                        <td>
                                                            <label id="Label3" class="txtTotal font18 alignright">
                                                                {{ templated.price }}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="font16">
                                                                Peržiūros</label>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-inr font18"></i>
                                                        </td>
                                                        <td>
                                                            <label id="Label4" class="txtDiscount font18 alignright">
                                                                {{ templated.reach }}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="font16">
                                                                Peržiūros kaina</label>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-inr font18"></i>
                                                        </td>
                                                        <td>
                                                            <label id="Label5" class="txtNetPayable font18 alignright">
                                                                {{ templated.divide() }}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


{% endblock %}