<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="{{ path('admin_offer_create') }}" method="post">
                <input name="id" hidden value="{{ id }}"/>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="clientName">Kliento vardas, pavardė</label>
                        <input type="text" class="form-control" placeholder="Petras Petraitis"
                               name="clientName" {% if offer.clientName is not null %} value="{{ offer.clientName }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="clientEmail">El.Paštas</label>
                        <input type="text" class="form-control" placeholder="petras@petras.com"
                               name="clientEmail" {% if offer.clientEmail is not null %} value="{{ offer.clientEmail }}" {% endif %}>
                    </div>
                    <div class="form-group ">
                        <label for="clientMessage">Žinutė klientui</label>
                        <textarea type="text" class="form-control" placeholder="Description"
                                  name="message" {% if offer.message is not null %} value="{{ offer.message }}" {% endif %}></textarea>
                    </div>


                    <div class="row">
                        <h4>Šablonai</h4>
                        {% for template in templateItems %}
                            <div class="col-sm-4">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success {% if template.active is null %} active {% endif %} checkbox-js">
                                        <input type="checkbox"/>
                                        <input type="hidden" class="check"
                                               value="{% if template.active %}1{% endif %}{% if template.active is null %}0{% endif %}"
                                               name='active[{{ template.id }}]'/>
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>
                                {{ template.title }} {{ template.price }}

                                <a href="#{{ template.id }}" data-toggle="modal"
                                   data-target="#{{ template.id }}"><span class="glyphicon glyphicon-expand"></span></a>
                                <p></p>
                            </div>

                        {% endfor %}


                    </div>
                    <p>
                            <button type="submit" class="myButton">Išsaugoti pasiūlymą</button>
                    </p>
                </form>

                {% for templated in templateItems %}

                <div id="{{ templated.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="offer-container">
                            <div class="panel panel-primary" align="center">
                                <div class="panel-heading">
                                    <h2>
                                        <i class="fa fa-calculator"></i>{{ templated.title }}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-8">
                                        <div class="table-responsive">
                                            <table class="table table-striped plansTable">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        Kiekis
                                                    </th>
                                                    <th>
                                                        Produktas
                                                    </th>
                                                    <th>
                                                        Kaina
                                                    </th>
                                                    <th>
                                                        Peržiūros
                                                    </th>
                                                    <th>
                                                        P/K
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for offerTemplatePosition in templated.positionTemplates %}
                                                    <tr>
                                                        <div class="center">
                                                            <td><label>{{ offerTemplatePosition.count }}</label>
                                                            </td>
                                                            <td>
                                                                <label>{{ offerTemplatePosition.position.name }}</label>
                                                            </td>
                                                            <td>
                                                                <label>{{ offerTemplatePosition.position.price }}</label>
                                                            </td>
                                                            <td>
                                                                <label>{{ offerTemplatePosition.position.reach }}</label>
                                                            </td>
                                                            <td>
                                                                <label>{{ offerTemplatePosition.position.divide() }}</label>
                                                            </td>
                                                        </div>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="col-md-12" style="text-align: center;">
                                            <div class="alert alert-danger error-label"
                                                 style="display: none; text-align: center;"
                                                 role="alert">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <table class="table" style="margin-left: -25px;">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label class=" font16">
                                                        Rezultatai</label>
                                                </th>
                                                <th>
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class=" font16">
                                                        Kaina</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label3" class="txtTotal font18 alignright">
                                                        {{ templated.price }}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="font16">
                                                        Peržiūros</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label4" class="txtDiscount font18 alignright">
                                                        {{ templated.reach }}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="font16">
                                                        Peržiūros kaina</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label5" class="txtNetPayable font18 alignright">
                                                        {{ templated.divide() }}
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endfor %}