{% block main %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">






    <body>


    <section>
        <div class="row">
            <h2 class="text-center"><span>Tapk Zalgirio remeju jau siandien!</span>{{ offer.message }}</a></h2>
            <div class="container">
                {% include "admin/offer/progressbar.html.twig" with {'selected': selected} %}

                <h3 class="titlas">{{ offerTemplate.template.title }}</h3>


                {%include "admin/offer/summary.html.twig" %}


                <ul class="list-group super-list">
                    {% for offerTemplatePosition in offerTemplate.offerPositionTemplates %}

                        <li class="list-group-item">

                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <h5 class="super-list-title">{{ offerTemplatePosition.position.name }}</h5>
                                </div>
                                <div class="col-lg-2 col-sm-4 col-xs-4"
                                     style="text-align=right; float:right; color:grey">
                                    <span><i class="fa fa-cart-plus"></i>{{ offerTemplatePosition.count }}</span>
                                </div>
                                {% set totalprice =  offerTemplatePosition.price * offerTemplatePosition.count %}
                                <div class="col-lg-2 col-sm-4 col-xs-4"
                                     style="text-align=right; float:right; color:grey">
                                    <span><i class="fa fa-money"></i>{{ totalprice|number_format(0, '.') }}€</span>
                                </div>
                                {% set totalviews =  offerTemplatePosition.position.reach *offerTemplatePosition.count %}
                                <div class="col-lg-2 col-sm-4 col-xs-4"
                                     style="text-align=right; float:right; color:grey">
                                    <span><i class="fa fa-eye"></i>{{ totalviews|number_format(0, '.') }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
        <br/>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample"
                            class="btn btn-secondary btn-lg btn-block btn-more">Kitos siulomos pozicijos
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul class="list-group super-list">
                        {% for offerTemplatePosition in offerTemplate.offerPositionTemplates %}

                            <li class="list-group-item">

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <h5 class="super-list-title">{{ offerTemplatePosition.position.name }}</h5>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-4"
                                         style="text-align=right; float:right; color:grey">
                                        <span><i class="fa fa-cart-plus"></i>{{ offerTemplatePosition.count }}</span>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-4"
                                         style="text-align=right; float:right; color:grey">
                                        <span><i class="fa fa-money"></i>{{ offerTemplatePosition.price * offerTemplatePosition.count }}</span>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-4"
                                         style="text-align=right; float:right; color:grey">
                                        <span><i class="fa fa-eye"></i>{{ offerTemplatePosition.position.reach *offerTemplatePosition.count }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <form action="{{ path('user_offer_accept') }}" method="post">
                <div class="form-group offer-comment">
                    <label for="exampleFormControlTextarea1">Komentaras:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="msg"
                              placeholder="Jeigu turite pastabu ar norite papildomu paslaugu palikite komentara"
                              rows="3"></textarea>
                    <button type="submit"
                            id="btn-check-offers" name="accept" value="{{ offerTemplate.id }}"
                            class="btn btn-secondary btn-lg btn-block btn-accept">Uzsakyti
                    </button>
                    <input type="hidden" value="{{ offer.id }}" name="orderId">
                    <input type="hidden" value="{{ offer.clientName }}" name="username">

                </div>

            </form>
        </div>


    </section>


    {% include "admin/offer/footer.html.twig" %}


    </body>


{% endblock %}