{% block main %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function($) {
            (function($) {
            $.fn.openPopup = function( settings ) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.show();
                elem.find('.popup-content').addClass(settings.anim+'In');
            }

            $.fn.closePopup = function( settings ) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.find('.popup-content').removeClass(settings.anim+'In').addClass(settings.anim+'Out');

                setTimeout(function(){
                    elem.hide();
                    elem.find('.popup-content').removeClass(settings.anim+'Out')
                }, 500);
            }

        }(jQuery));

        // Click functions for popup
        $('.open-popup').click(function(){
            $('#'+$(this).data('id')).openPopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' : $(this).data('animation')
            });
        });
        $('.close-popup').click(function(){
            $('#'+$(this).data('id')).closePopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' : $(this).data('animation')
            });
        });
        });
    </script>
    <style>
        /* popup styles */
        .popup {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
        }
        .popup-overlay {
            background: rgba(0,0,0,0.9);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .popup-content {
            position: absolute;
            background: #fff;
            width: 800px;
            margin: -58px 0 0 -264px;
            left: 40%;
            top: 50%;
            z-index: 11;
            padding: 14px;
        }
        .close-popup {
            display: inline-block;
            position: absolute;
            top: -8px;
            right: -30px;
            font-size: 42px;
        }

        /* Animations */
        .fadeIn {
            animation: fadeIn 0.5s ease-in both;
            -webkit-animation: fadeIn 0.5s ease-in both;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
        }
        @-webkit-keyframes fadeIn {
            from { opacity: 0; }
        }

        .fadeOut {
            animation: fadeOut 0.5s ease-out both;
            -webkit-animation: fadeOut 0.5s ease-out both;
        }
        @keyframes fadeOut {
            to { opacity: 0; }
        }
        @-webkit-keyframes fadeOut {
            to { opacity: 0; }
        }

        .scaleIn {
            animation: scaleIn 0.5s ease-in both;
            -webkit-animation: scaleIn 0.5s ease-in both;
        }
        @keyframes scaleIn {
            from { opacity: 0; transform: scale(0.5); }
        }
        @-webkit-keyframes scaleIn {
            from { opacity: 0; -webkit-transform: scale(0.5); }
        }

        .scaleOut {
            animation: scaleOut 0.5s ease-out both;
            -webkit-animation: scaleOut 0.5s ease-out both;
        }
        @keyframes scaleOut {
            to { opacity: 0; transform: scale(0.5); }
        }
        @-webkit-keyframes scaleOut {
            to { opacity: 0; -webkit-transform: scale(0.5); }
        }

        .scaleUpIn {
            animation: scaleIn 0.5s ease-in both;
            -webkit-animation: scaleIn 0.5s ease-in both;
        }
        .scaleUpOut {
            animation: scaleUpOut 0.5s ease-in both;
            -webkit-animation: scaleUpOut 0.5s ease-in both;
        }
        @keyframes scaleUpOut {
            to { opacity: 0; transform: scale(1.2); }
        }
        @-webkit-keyframes scaleUpOut {
            to { opacity: 0; -webkit-transform: scale(1.2); }
        }

        .scaleDownIn {
            animation: scaleDownIn 0.5s ease-in both;
            -webkit-animation: scaleDownIn 0.5s ease-in both;
        }
        .scaleDownOut {
            animation: scaleOut 0.5s ease-in both;
            -webkit-animation: scaleOut 0.5s ease-in both;
        }
        @keyframes scaleDownIn {
            from { opacity: 0; transform: scale(1.2); }
        }
        @-webkit-keyframes scaleDownIn {
            from { opacity: 0; -webkit-transform: scale(1.2); }
        }

        .slideIn {
            animation: slideIn 0.5s ease-in both;
            -webkit-animation: slideIn 0.5s ease-in both;
        }
        @keyframes slideIn {
            from { opacity: 0; transform: translateY(-50%); }
        }
        @-webkit-keyframes slideIn {
            from { opacity: 0; -webkit-transform: translateY(-50%); }
        }

        .slideOut {
            animation: slideOut 0.5s ease-out both;
            -webkit-animation: slideOut 0.5s ease-out both;
        }
        @keyframes slideOut {
            to { opacity: 0; transform: translateY(50%); }
        }
        @-webkit-keyframes slideOut {
            to { opacity: 0; -webkit-transform: translateY(50%); }
        }

        .slideLeftIn {
            animation: slideLeftIn 0.5s ease-in both;
            -webkit-animation: slideLeftIn 0.5s ease-in both;
        }
        @keyframes slideLeftIn {
            from { opacity: 0; transform: translateX(-50%); }
        }
        @-webkit-keyframes slideLeftIn {
            from { opacity: 0; -webkit-transform: translateX(-50%); }
        }

        .slideLeftOut {
            animation: slideLeftOut 0.5s ease-out both;
            -webkit-animation: slideLeftOut 0.5s ease-out both;
        }
        @keyframes slideLeftOut {
            to { opacity: 0; transform: translateX(50%); }
        }
        @-webkit-keyframes slideLeftOut {
            to { opacity: 0; -webkit-transform: translateX(50%); }
        }

        .flipLeftIn {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: flipLeftIn .5s both ease-out;
            -moz-animation: flipLeftIn .5s both ease-out;
            animation: flipLeftIn .5s both ease-out;
        }
        @-webkit-keyframes flipLeftIn {
            from {-webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: .2;}
        }
        @keyframes flipLeftIn {
            from {transform: translateZ(-1000px) rotateY(90deg);opacity: .2;}
        }

        .flipLeftOut {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: flipLeftOut .5s both ease-in;
            -moz-animation: flipLeftOut .5s both ease-in;
            animation: flipLeftOut .5s both ease-in;
        }

        @-webkit-keyframes flipLeftOut {
            to {-webkit-transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
        }
        @keyframes flipLeftOut {
            to {transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
        }

        .flipRightIn {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: flipRightIn .5s both ease-out;
            -moz-animation: flipRightIn .5s both ease-out;
            animation: flipRightIn .5s both ease-out;
        }
        @-webkit-keyframes flipRightIn {
            from {-webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: .2;}
        }
        @keyframes flipRightIn {
            from {transform: translateZ(-1000px) rotateY(-90deg);opacity: .2;}
        }

        .flipRightOut {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: flipRightOut .5s both ease-in;
            -moz-animation: flipRightOut .5s both ease-in;
            animation: flipRightOut .5s both ease-in;
        }

        @-webkit-keyframes flipRightOut {
            to {-webkit-transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
        }
        @keyframes flipRightOut {
            to {transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
        }


        .rotateIn {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: rotateIn .5s both ease-out;
            -moz-animation: rotateIn .5s both ease-out;
            animation: rotateIn .5s both ease-out;
        }
        @-webkit-keyframes rotateIn {
            from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0;}
        }
        @-moz-keyframes rotateIn {
            from {-moz-transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
        }
        @keyframes rotateIn {
            from {transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
        }

        .rotateOut {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: rotateOut .5s both ease-in;
            -moz-animation: rotateOut .5s both ease-in;
            animation: rotateOut .5s both ease-in;
        }
        @-webkit-keyframes rotateOut {
            to {-webkit-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
        }
        @-moz-keyframes rotateOut {
            to {-moz-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
        }
        @keyframes rotateOut {
            to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0;}
        }

        .rotateCubeIn {
            -webkit-transform-origin: 50% 100%;
            -webkit-animation: rotateCubeIn .6s both ease-in;
            -moz-transform-origin: 50% 100%;
            -moz-animation: rotateCubeIn .6s both ease-in;
            transform-origin: 50% 100%;
            animation: rotateCubeIn .6s both ease-in;
        }
        @-webkit-keyframes rotateCubeIn {
            0% {opacity: .3;
                -webkit-transform: translateY(-100%) rotateX(90deg);}
            50% {-webkit-animation-timing-function: ease-out;
                -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
        }
        @-moz-keyframes rotateCubeIn {
            0% {opacity: .3;
                -moz-transform: translateY(-100%) rotateX(90deg); }
            50% {-moz-animation-timing-function: ease-out;
                -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
        }
        @keyframes rotateCubeIn {
            0% {opacity: .3;
                transform: translateY(-100%) rotateX(90deg);}
            50% {animation-timing-function: ease-out;
                transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
        }

        .rotateCubeOut {
            -webkit-transform-origin: 50% 0;
            -webkit-animation: rotateCubeOut .6s both ease-in;
            -moz-transform-origin: 50% 0;
            -moz-animation: rotateCubeOut .6s both ease-in;
            transform-origin: 50% 0;
            animation: rotateCubeOut .6s both ease-in;
        }
        @-webkit-keyframes rotateCubeOut {
            50% {-webkit-animation-timing-function: ease-out;-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
            100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
        }
        @-moz-keyframes rotateCubeOut {
            50% { -moz-animation-timing-function: ease-out;-moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
            100% { opacity: .3;-moz-transform: translateY(100%) rotateX(-90deg); }
        }
        @keyframes rotateCubeOut {
            50% {animation-timing-function: ease-out;
                transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
            100% { opacity: .3; transform: translateY(100%) rotateX(-90deg);}
        }

        /* Demo Styles */
        body {
            font-family: verdana;
            font-size: 12px;
            text-align: center;
        }
        a {
            color: rgb(0, 159, 211);
            text-decoration: none;
        }
        .btn {
            background: rgb(0, 159, 211);
            color: #fff;
            border: 1px solid;
            display: inline-block;
            padding: 5px 20px;
        }
        .btn:hover {
            background: #fff;
            color: rgb(0, 159, 211);
        }
        .popup {
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            perspective: 1200px;
        }
        .popup-content {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
    </style>

    <style>

        body
        {
            background-color: #D3D3D3;
        }
        a:hover, a:active, a:focus
        {
            outline: 0;
        }
        button:focus
        {
            outline: 0;
        }
        .offer-container
        {
            width: 720px;
            margin-top: 7%;
        }
        .col-md-9, .col-md-3
        {
            padding: 0px;
        }
        .container
        {
            padding-right: 1px;
            padding-left: 1px;
        }
        .center
        {
            width: 100px;
        }
        .font16
        {
            font-size: 16px;
            color: Green;
        }
        .panel
        {
            box-shadow: 10px 10px 5px #888888;
        }
        .panel-body
        {
            padding-left: 0;
            padding-right: 0;
        }
        .error-label
        {
            margin-top: 15px;
        }
        .alignright
        {
            text-align: right;
            float: right;
        }
        .font18
        {
            font-size: 24px;
            color: Green;
            font-weight: bolder;
        }
        @media screen and (max-width: 767px)
        {
            .offer-container
            {
                margin-top: 0px;
                width: auto;
            }
            h2
            {
                font-size: 20px;
            }
            .panel
            {
                box-shadow: none;
            }
            .error-label
            {
                margin-left: -15px;
                margin-top: 5px;
            }
        }

        .content {
            padding: 30px 0;
        }

        /***
        Pricing table
        ***/
        .pricing {
            position: relative;
            margin-bottom: 15px;
            border: 3px solid #eee;
        }

        .pricing-active {
            border: 3px solid #36d7ac;
            margin-top: -10px;
            box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
        }

        .pricing:hover {
            border: 3px solid #36d7ac;
        }

        .pricing:hover h4 {
            color: #36d7ac;
        }

        .pricing-head {
            text-align: center;
        }

        .pricing-head h3,
        .pricing-head h4 {
            margin: 0;
            line-height: normal;
        }

        .pricing-head h3 span,
        .pricing-head h4 span {
            display: block;
            margin-top: 5px;
            font-size: 14px;
            font-style: italic;
        }

        .pricing-head h3 {
            font-weight: 300;
            color: #fafafa;
            padding: 12px 0;
            font-size: 27px;
            background: #36d7ac;
            border-bottom: solid 1px #41b91c;
        }

        .pricing-head h4 {
            color: #bac39f;
            padding: 5px 0;
            font-size: 54px;
            font-weight: 300;
            background: #fbfef2;
            border-bottom: solid 1px #f5f9e7;
        }

        .pricing-head-active h4 {
            color: #36d7ac;
        }

        .pricing-head h4 i {
            top: -8px;
            font-size: 28px;
            font-style: normal;
            position: relative;
        }

        .pricing-head h4 span {
            top: -10px;
            font-size: 14px;
            font-style: normal;
            position: relative;
        }

        /*Pricing Content*/
        .pricing-content li {
            color: #888;
            font-size: 12px;
            padding: 7px 15px;
            border-bottom: solid 1px #f5f9e7;
        }

        /*Pricing Footer*/
        .pricing-footer {
            color: #777;
            font-size: 11px;
            line-height: 17px;
            text-align: center;
            padding: 0 20px 19px;
        }

        /*Priceing Active*/
        .price-active,
        .pricing:hover {
            z-index: 9;
        }

        .price-active h4 {
            color: #36d7ac;
        }

        .no-space-pricing .pricing:hover {
            transition: box-shadow 0.2s ease-in-out;
        }

        .no-space-pricing .price-active .pricing-head h4,
        .no-space-pricing .pricing:hover .pricing-head h4 {
            color: #36d7ac;
            padding: 15px 0;
            font-size: 80px;
            transition: color 0.5s ease-in-out;
        }

        .yellow-crusta.btn {
            color: #FFFFFF;
            background-color: #f3c200;
        }
        .yellow-crusta.btn:hover,
        .yellow-crusta.btn:focus,
        .yellow-crusta.btn:active,
        .yellow-crusta.btn.active {
            color: #FFFFFF;
            background-color: #cfa500;
        }

        .modal-backdrop {
            z-index: -1;
        }

        div.modal div.modal-backdrop {
            z-index: 0;
        }

    </style>
















    <div class="container content">
        <div class="row">
            {% for offerTemplate in offer.offerTemplates %}

            <!-- Pricing -->
            <div class="col-md-4">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>
                            {{ offerTemplate.template.title }}
                        </h3>
                        <h4><i>$</i>{{ offerTemplate.template.price }}
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            Efektyvu
                        </li>
                        <li>
                            Grazu
                        </li>
                        <li>
                            Teisinga
                        </li>
                        <li>
                            Patikima
                        </li>
                        <li>
                            Zalia
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <p>
                            Nuostabus pasiulymas jums.
                        </p>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ offerTemplate.template.id }}">Take A Look</button>

                    </div>
                </div>
            </div>



            <!--//End Pricing -->
            {% endfor %}
        </div>
    </div>




    {% for offerTemplate in offer.offerTemplates %}
        <div id="{{ offerTemplate.template.id }}"  class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                        <div class="offer-container">
                            <div class="panel panel-primary" align="center">
                                <div class="panel-heading">
                                    <h2>
                                        <i class="fa fa-calculator"></i>{{ offerTemplate.template.title }}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-8">
                                        <div class="table-responsive">
                                            <table class="table table-striped plansTable">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        Kiekis
                                                    </th>
                                                    <th>
                                                        Produktas
                                                    </th>
                                                    <th>
                                                        Kaina
                                                    </th>
                                                    <th>
                                                        Perziuros
                                                    </th>
                                                    <th>
                                                        P/K
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for offerTemplatePosition in offerTemplate.template.positionTemplates %}
                                                    <tr>
                                                        <div class="center">
                                                            <td><label>{{  offerTemplatePosition.count }}</label></td>
                                                            <td><label>{{ offerTemplatePosition.position.name }}</label></td>
                                                            <td><label>{{  offerTemplatePosition.position.price }}</label></td>
                                                            <td><label>{{  offerTemplatePosition.position.reach }}</label></td>
                                                            <td><label>{{ offerTemplatePosition.position.divide() }}</label></td>
                                                        </div>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn btn-sm btn-success ladda-button" data-style="expand-left" type="button"
                                                id="btn-check-offers">
                                            <i class="fa fa-calculator"></i>Accept Offer</button>

                                        <div class="col-md-12" style="text-align: center;">
                                            <div class="alert alert-danger error-label" style="display: none; text-align: center;"
                                                 role="alert">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <table class="table" style="margin-left: -25px;">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label class=" font16">
                                                        Rezultatai</label>
                                                </th>
                                                <th>
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class=" font16">
                                                        Kaina</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label3" class="txtTotal font18 alignright">
                                                        0
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="font16">
                                                        Perziuros</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label4" class="txtDiscount font18 alignright">
                                                        0
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="font16">
                                                        Perziuros kaina</label>
                                                </td>
                                                <td>
                                                    <i class="fa fa-inr font18"></i>
                                                </td>
                                                <td>
                                                    <label id="Label5" class="txtNetPayable font18 alignright">
                                                        0
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    {% endfor %}




{% endblock %}