{% block main %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->




    <style>
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
        @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
        @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

        a, a:hover, a:focus{outline:none; text-decoration:none;}

        body{
            font-family: 'Open Sans', sans-serif;
            background: linear-gradient(to left, #0b6e42, #12422c);
        }

        h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
        h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
        h2 a{color:#fff; font-weight:bold;}


        section{

            float:left;
            width:100%;
            background: #43cea2;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #0b6e42, #12422c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding:30px 0;
        }

        .card {
            -moz-box-direction: normal;
            -moz-box-orient: vertical;
            background-color: #fff;
            border-radius: 0.25rem;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom:1px;
            border:none;
        }
        .card-header:first-child {
            border-radius: 0;
        }
        .card-header {
            background-color: #f7f7f9;
            margin-bottom: 0;
            padding: 20px 1.25rem;
            border:none;

        }
        .card-header a i{
            float:left;
            font-size:25px;
            padding:5px 0;
            margin:0 25px 0 0px;
            color:#195C9D;
        }
        .card-header i{
            float:right;
            font-size:30px;
            width:1%;
            margin-top:8px;
            margin-right:10px;
        }
        .card-header a{
            width:97%;
            float:left;
            color:#565656;
        }
        .card-header p{
            margin:0;
        }

        .card-header h3{
            margin:0 0 0px;
            font-size:20px;
            font-family: 'Slabo 27px', serif;
            font-weight:bold;
            color:#3fc199;
        }
        .card-block {
            -moz-box-flex: 1;
            flex: 1 1 auto;
            padding: 20px;
            color:#232323;
            box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
            border-top:1px soild #000;
            border-radius:0;
        }

        .process-step .btn:focus{outline:none}
        .process{display:table;width:100%;position:relative}
        .process-row{display:table-row}
        .process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
        .process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0}
        .process-step{display:table-cell;text-align:center;position:relative}
        .process-step p{margin-top:4px}
        .btn-circle{width:80px;height:80px;text-align:center;font-size:12px;border-radius:50%}

        @media only screen and (max-width: 800px) {

            /* Force table to not be like tables anymore */
            #no-more-tables table,
            #no-more-tables thead,
            #no-more-tables tbody,
            #no-more-tables th,
            #no-more-tables td,
            #no-more-tables tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            #no-more-tables tr { border: 1px solid #ccc; }

            #no-more-tables td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 0px solid #eee;
                position: relative;
                padding-left: 50%;
                white-space: normal;
                text-align:left;
            }

            #no-more-tables td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
            }

            /*
            Label the data
            */
            #no-more-tables td:before { content: attr(data-title); }
        }

    </style>

<body>
    <section>



        <div class="row">
            <h2 class="text-center"><span>Tapk Zalgirio remeju jau siandien!</span>{{ offer.message }}</a></h2>
            <div class="container">
                <div class="row">
                    <div class="process">
                        <div class="process-row nav nav-tabs">
                            <div class="process-step">
                                <button type="button" class="btn btn-info btn-circle" data-toggle="tab" href="#menu1"><i class="fa fa-info fa-3x"></i></button>
                                <p><small>Pasiulymai</small></p>
                            </div>
                            <div class="process-step">
                                <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu2"><i class="fa fa-file-text-o fa-3x"></i></button>
                                <p><small>Uzsakymo informacija</small></p>
                            </div>
                            <div class="process-step">
                                <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu6"><i class="fa fa-check fa-3x"></i></button>
                                <p><small>Patvirtinimas</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="bd-example" data-example-id="">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            {% for offerTemplate in offer.offerTemplates %}
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <div class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ offerTemplate.template.id }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            <h3>{{ offerTemplate.template.title }}</h3>
                                            <p>{{ offerTemplate.template.price }}</p>
                                        </a>
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div id="{{ offerTemplate.template.id }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                                    <div class="card-block">
                                        <div id="no-more-tables">
                                            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                <thead class="cf">
                                                <tr>
                                                    <th>Pozicija</th>
                                                    <th class="numeric">Kiekis</th>
                                                    <th class="numeric">Kaina</th>
                                                    <th class="numeric">Perziuros</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for offerTemplatePosition in offerTemplate.offerPositionTemplates %}

                                                <tr>
                                                    <td data-title="Pozicija">{{ offerTemplatePosition.position.name }}</td>
                                                    <td data-title="Kiekis">{{ offerTemplatePosition.count }}</td>
                                                    <td data-title="Kaina" class="numeric">{{ offerTemplatePosition.price }}</td>
                                                    <td data-title="Perziuros" class="numeric">{{ offerTemplatePosition.position.reach }}</td>
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>















    {% for offerTemplate in offer.offerTemplates %}
        <div id="{{ offerTemplate.template.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="offer-container">
                    <div class="panel panel-primary" align="center">
                        <div class="panel-heading">
                            <h2>
                                <i class="fa fa-calculator"></i>{{ offerTemplate.template.title }}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-striped plansTable">
                                        <thead>
                                        <tr>
                                            <th>
                                                Kiekis
                                            </th>
                                            <th>
                                                Produktas
                                            </th>
                                            <th>
                                                Kaina
                                            </th>
                                            <th>
                                                Peržiūros
                                            </th>
                                            <th>
                                                P/K
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for offerTemplatePosition in offerTemplate.offerPositionTemplates %}
                                            <tr>
                                                <div class="center">
                                                    <td><label>{{ offerTemplatePosition.count }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.name }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.price }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.reach }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.divide() }}</label>
                                                    </td>
                                                </div>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <form action="/acceptoffer" method="post">
                                    <h3>Jūsų komentaras</h3>
                                    <input type="hidden" value="{{ offer.id }}" name="orderId">
                                    <input type="hidden" value="{{ offer.clientName }}" name="username">
                                    <input type="text" name="msg">
                                    <button class="btn btn-sm btn-success ladda-button" data-style="expand-left"
                                            type="submit"
                                            id="btn-check-offers" name="accept" value="{{ offerTemplate.id }}">
                                        <i class="fa fa-calculator"></i>Patvirtinti pasiūlymą
                                    </button>
                                </form>

                                <div class="col-md-12" style="text-align: center;">
                                    <div class="alert alert-danger error-label"
                                         style="display: none; text-align: center;"
                                         role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table" style="margin-left: -25px;">
                                    <thead>
                                    <tr>
                                        <th>
                                            <label class=" font16">
                                                Rezultatai</label>
                                        </th>
                                        <th>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label class=" font16">
                                                Kaina</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label3" class="txtTotal font18 alignright">
                                                {{ offerTemplate.price }}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="font16">
                                                Perziuros</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label4" class="txtDiscount font18 alignright">
                                                {{ offerTemplate.reach }}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="font16">
                                                Peržiūros kaina</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label5" class="txtNetPayable font18 alignright">
                                                {{ offerTemplate.divide() }}
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}