{% block main %}



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .message-bubble
        {
            padding: 10px 0px 10px 0px;
        }

        .message-bubble:nth-child(even) { background-color: #F5F5F5; }

        .message-bubble > *
        {
            padding-left: 10px;
        }

        .panel-body { padding: 0px; }

        .panel-heading { background-color: #3d6da7 !important; color: white !important; }
    </style>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">{{ order.id }}</div>
                <div class="panel-body">
                    <div class="container">
                        {% for msg in messages %}
                        <div class="row message-bubble">
                            <p class="text-muted">{{ msg.username }}:</p>
                            <span>{{ msg.text }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <form action="/clientorderresponse" method="post">
                                <h3>Jūsų komentaras</h3>
                                <input type="hidden" value="{{ order.id }}" name="orderId">
                                <input type="hidden" value="{{ order.offer.clientName }}" name="username">
                                <input type="text" name="msg">
                                <button class="btn btn-sm btn-success ladda-button" data-style="expand-left"
                                        type="submit"
                                        id="btn-check-offers" name="accept">
                                    <i class="fa fa-calculator"></i>Siusti zinute
                                </button>
                            </form>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for offerTemplate in offer.offerTemplates %}
                <div class="offer-container">
                    <div class="panel panel-primary" align="center">
                        <div class="panel-heading">
                            <h2>
                                <i class="fa fa-calculator"></i>{{ offerTemplate.template.title }}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-striped plansTable">
                                        <thead>
                                        <tr>
                                            <th>
                                                Kiekis
                                            </th>
                                            <th>
                                                Produktas
                                            </th>
                                            <th>
                                                Kaina
                                            </th>
                                            <th>
                                                Peržiūros
                                            </th>
                                            <th>
                                                P/K
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for offerTemplatePosition in offerTemplate.template.positionTemplates %}
                                            <tr>
                                                <div class="center">
                                                    <td><label>{{ offerTemplatePosition.count }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.name }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.price }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.reach }}</label></td>
                                                    <td><label>{{ offerTemplatePosition.position.divide() }}</label>
                                                    </td>
                                                </div>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12" style="text-align: center;">
                                    <div class="alert alert-danger error-label"
                                         style="display: none; text-align: center;"
                                         role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table" style="margin-left: -25px;">
                                    <thead>
                                    <tr>
                                        <th>
                                            <label class=" font16">
                                                Rezultatai</label>
                                        </th>
                                        <th>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label class=" font16">
                                                Kaina</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label3" class="txtTotal font18 alignright">
                                                {{ offerTemplate.template.price }}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="font16">
                                                Perziuros</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label4" class="txtDiscount font18 alignright">
                                                {{ offerTemplate.template.reach }}
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="font16">
                                                Peržiūros kaina</label>
                                        </td>
                                        <td>
                                            <i class="fa fa-inr font18"></i>
                                        </td>
                                        <td>
                                            <label id="Label5" class="txtNetPayable font18 alignright">
                                                {{ offerTemplate.template.divide() }}
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}





{% endblock %}