{% block main %}



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .message-bubble
        {
            padding: 10px 0px 10px 0px;
        }

        .message-bubble:nth-child(even) { background-color: #F5F5F5; }

        .message-bubble > *
        {
            padding-left: 10px;
        }

        .panel-body { padding: 0px; }

        .panel-heading { background-color: #3d6da7 !important; color: white !important; }
    </style>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">{{ order.id }}</div>
                <div class="panel-body">
                    <div class="container">
                        {% for msg in messages %}
                        <div class="row message-bubble">
                            <p class="text-muted">{{ msg.username }}:</p>
                            <span>{{ msg.text }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <form action="/clientorderresponse" method="post">
                                <h3>Jūsų komentaras</h3>
                                <input type="hidden" value="{{ order.id }}" name="orderId">
                                <input type="hidden" value="{{ order.offer.clientName }}" name="username">
                                <input type="text" name="msg">
                                <button class="btn btn-sm btn-success ladda-button" data-style="expand-left"
                                        type="submit"
                                        id="btn-check-offers" name="accept">
                                    <i class="fa fa-calculator"></i>Siusti zinute
                                </button>
                            </form>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h1>VEIKIA</h1>



{% endblock %}