{% extends '@EasyAdmin/default/layout.html.twig' %}
{#{% form_theme form with easyadmin_config('design.form_theme') %}#}
{% set _content_title = 'Edit user data' %}{% block page_title -%}
    {{ _content_title }}
{%- endblock %}{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}
{% block main %}
    <h1>Items</h1>

        <form action="/positiondata" method="post">
        <input name="title" type="text"/>
        {% for position in positionItems %}
            <div>
                <input name='active[{{ position.id }}]' type="checkbox"/>
                {{ position.name }}
                <input name='count[{{ position.id }}]' type="text"/>
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}