{% extends '@EasyAdmin/default/layout.html.twig' %}
{#{% form_theme form with easyadmin_config('design.form_theme') %}#}
{% set _content_title = ''%}{% block page_title -%}
    {{ _content_title }}
{%- endblock %}{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}
{% block main %}
    <script>
        $(document).ready(function () {
            $('.positionCount').on('change', function () {
                var sumInput = $(this).closest('.positionRow').find('.sum');
                var newInput = $(this).val() * $(sumInput).data('price');
                $(sumInput).val(newInput);
            })})
    </script>
    <center><h1>Sablonas</h1></center>

    <form action="/positiondata" method="post">
        <input name="id" hidden value="{{ id }}" />
        <center><input name="title" type="text" value="{{ title }}"/></center>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">✔</th>
                <th scope="col">Pozicija</th>
                <th scope="col">Minuciu Kiekis</th>
                <th scope="col">Minutes kaina</th>
                <th scope="col">Suma</th>
            </tr>
            </thead>
            <tbody>

        {% for position in positionItems %}

            <tr>
                <th class="positionRow">
                    <input name='active[{{ position.id }}]' type="checkbox" {% if position.count > 0 %}
                    checked
                            {% endif %}/></th>
                <td>{{ position.name }}</td>
                <td><input class="positionCount" name='count[{{ position.id }}]' type="text" value="{{ position.count }}"/></td>
                <td><input class="positionPrice" disabled value="{{ position.price }}"/></td>
                <td><input class="sum" disabled data-price={{ position.price }} value={{ position.price*position.count }}></td>
            </tr>


        {% endfor %}
            </tbody>
        </table>

        <center>
            <button class="button button1">Green</button>


    </form>
{% endblock %}