<table class="table table-responsive">

    <tr>
        <th scope="col"><p align="center">✔</p></th>
        <th scope="col"><p align="center">Pozicija</p></th>
        <th scope="col"><p align="center">Kiekis</p></th>
        <th scope="col"><p align="center">Vieneto kaina</p></th>
        <th scope="col"><p align="center">Pamatymai</p></th>
        <th scope="col"><p align="center">Suma</p></th>
        <th scope="col"><p align="center">PSuma</p></th>
    </tr>

    <tbody>

    {% for position in positions %}

        <tr class="positionRow">
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success {% if position.count is null %} active {% endif %} checkbox-js position-checkbox">
                        <input type="checkbox"/>
                        <input type="hidden" class="check"
                               value="{% if position.count is not null %}1{% endif %}{% if position.count is null %}0{% endif %}"
                               name='active[{{ position.id }}]'/>
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
            </td>
            <td><p align="center">{{ position.name }}</p></td>
            <td><p align="center"><input class="positionCount" name='count[{{ position.id }}]' type="text"
                                         value="{{ position.count }}"/></td>
            </p>
            <td><p align="center"><input class="positionPrice" type="text" disabled
                                         value="{% if position.offerPrice is not null%}{{ position.offerPrice }}{% endif %}
{% if position.offerPrice is null%}{{ position.price }}{% endif %}"/></td>
            </p>
            <td><p align="center"><input class="positionViews" type="text" disabled
                                         value="{{ position.reach }}"/></td>
            </p>
            <td><p align="center"><input class="sum" name="sum[{{ position.id }}]" type="text"
                                         data-price={% if position.offerPrice is not null%}{{ position.offerPrice }}{% endif %}
{% if position.offerPrice is null%}{{ position.price }}{% endif %} value={% if position.offerPrice is not null%}{{ position.offerPrice * position.count}}{% endif %}
                            {% if position.offerPrice is null%}{{ position.price * position.count }}{% endif %}>
            </td>
            </p>
            <td><p align="center"><input class="sum2" name="sum2[{{ position.id }}]" type="text"
                                         data-reach={{ position.reach }} value={{ position.reach*position.count }}>
            </td>
            </p>

        </tr>


    {% endfor %}
    </tbody>
</table>